.features {
  text-align: center;
  padding: 50px 0;
  width: 70%;
  margin: auto;
}
.features h1 {
  font-size: 15px;
}
.features h2 {
  font-weight: bolder;
}
.features h3 {
  padding-top: 5px;
}
.features img {
  height: 70px;
  padding: 10px 10px 30px 10px;
  transition: all 0.2s ease-in-out;
}

.features img:hover {
  transform: scale(1.3);
}

button {
  padding-top: 15px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ed760;
  height: 48px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #4169e1;
  transform: scale(1.3);
}
